body {
    /* font-family:Arial, Helvetica, sans-serif; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

#homepage {
    color: black;
    border: .9px outset black;
    border-radius: 8px;
    padding: 5px;
    background-image: linear-gradient(white, lightblue, white);
    background-image: linear-gradient(to bottom, rgb(200, 231, 241) 0%, white 20%, rgb(212, 237, 246) 50%, rgb(225, 244, 248) 70%, rgb(220, 218, 218) 100%);
    cursor: pointer;

    box-shadow: 1px 1px 10px silver;
}

#homepage:hover {
    background-image: linear-gradient(white, rgb(87, 213, 255), white);
}

#homepage:active {
    background-image: linear-gradient(white, white, white);
}

.time-range-form-cover {
    display: flex; 
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#time-range-form {
    color: black;
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
    align-items: center;
    border: 1px outset black;
    border-radius: 8px;

    padding: 10px;
    background-color: rgb(253, 241, 213);
    background-image: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(161, 245, 245) 15%, rgb(157, 247, 239) 20%, rgb(255, 224, 151) 50%, rgb(254, 233, 184) 70%, rgb(255, 255, 255) 100%);
}

label {
    font-size: 20px;
    font-weight: bold;
}

.info-verify {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

input {
    text-align: right;
    font-size: 13px;
    font-weight: bold;
    color: black;
    height: 25px;
    width: 150px;
    border: .9px outset black;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, rgb(200, 231, 241) 0%, white 20%, rgb(212, 237, 246) 50%, rgb(225, 244, 248) 70%, rgb(220, 218, 218) 100%);
}

.iconInput {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconStyle {
    color: black;
}

.fa-calendar-alt, .fa-shield-alt {
    padding-right: 10px;
}

table {
    text-align: center;
    border: 1px solid black;
    /* border-collapse: collapse; */
}

#submitButton {
    font-weight: normal;
    color: black;
    border-radius: 8px;
    border: 1px outset silver;
    background-image: linear-gradient(white, lightblue, white);
    padding: 5px;
    cursor: pointer;
    width: 50%;
    box-shadow: 1px 1px 10px silver;
}

#submitButton:hover {
    background-image: linear-gradient(white, silver, white);
}

#submitButton:active {
    background-image: linear-gradient(white, white, white);
}

.totalTime-cover {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    background-image: linear-gradient(white, rgb(253, 250, 116), white);
}

#totalTime-header {
    padding-right: 20px;
    font-weight: bold;
}

#totalTime {
    color: blue;
    font-size: 25px;
}

#content{
  /* adjust this if your header area grows/shrinks */
  height: calc(100vh - 260px);              /* space left for #homepage, form, totalTime, margins */
  overflow: auto;                           /* only #content scrolls */
  -webkit-overflow-scrolling: touch;        /* smooth on iPhone */
}

#content::-webkit-scrollbar-thumb {
  background-color: #3633ec;      /* scrollbar thumb color */
  border-radius: 1px;          /* rounded corners */
  border: 3px solid #f1f1f1;   /* space around thumb */
}

#content::-webkit-scrollbar-track {
  background: #36c87d;         /* track (background) color */
}


.headerStyle {
    position: sticky;
    top: 0;
    background-color: lightblue;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
    border: .9px solid black;
    border-radius: 3px;
    background-image: linear-gradient(to bottom, rgb(200, 231, 241) 0%, white 20%, rgb(212, 237, 246) 50%, rgb(225, 244, 248) 70%, rgb(242, 238, 238) 100%);
}

.evenClass {
    background-color: rgb(225, 223, 223);
}


@media (max-width: 450px) and (hover: none) and (pointer: coarse) {
#time-range-form {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.info-verify {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    width: 100%;
}
}